@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;
@using Factory.Models;
@using System.Collections.Generic;

<h1>Machine Details</h1>
<hr />
<h3>@Html.DisplayNameFor(m => m.Name) : @Html.DisplayFor(m => m.Name)</h3>
<h3>@Html.DisplayNameFor(m => m.Description) : @Html.DisplayFor(m => m.Description)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Machine does not have any qualified engineers assigned to it. Would you like to
  @Html.ActionLink("add an engineer?", "AddEngineer", "Machines")
</p>
}
else
{
  <h4>Engineers qualified to repair this machine:</h4>
  <ul>

  @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>Engineer: @join.Engineer.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.Hidden("JoinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" />
      }
      @* <li>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.Engineer.EngineerId})
  </li> *@
    }
  </ul>
}

@Html.ActionLink("Home", "Index", "Home")
<br>
@Html.ActionLink("Add Machine", "Create", "Machines")
<br>
@Html.ActionLink("Delete Machine", "Delete", "Machines")






