@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine's information: @Html.DisplayFor(m => m.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.MachineId)

  @Html.LabelFor(m => m.Name)
  @Html.EditorFor(m => m.Name)
  @Html.LabelFor(m => m.Description)
  @Html.EditorFor(m => m.Description)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>