@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Assign a machine to @Html.DisplayFor(model => model.Name)</h2>

<br>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Add a machine to your inventory", "Create", "Machines")</p>
<p>@Html.ActionLink("Back to list", "Index")</p>