@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Assign an machine to an engineer</h2>

<h4>Assign an engineer to this machine: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>