@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer



<h4>Add a new Engineer</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Name)
  @Html.TextBoxFor(m => m.Name)
  @Html.LabelFor(m => m.Description)
  @Html.TextBoxFor(m => m.Description)
  <input type="submit" value="Add new engineer" />
}
<p>@Html.ActionLink("Show all engineers", "Index")</p>