@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models;
@using System.Collections.Generic;

@* <h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(m => m.Name) : @Html.DisplayFor(m => m.Name)</h3>

@if (@Model.Machines.Count == 0)
{
<p>This Engineer
does not contain any Machines</p>
}
else
{
<h4>Machines this engineer is qualified to work on:</h4>
<ul>

@foreach (Machine machine in Model.Machines)
{
<li>@machine.Description
</li>
}
</ul>
} *@

@Html.ActionLink("Home", "Index", "Home")
<br>
@Html.ActionLink("Add Machine", "Create", "Machines")
<br>
@Html.ActionLink("Add Engineer", "Create", "Engineers")






