@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models;
@using System.Collections.Generic;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(m => m.Name) : @Html.DisplayFor(m => m.Name)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Engineer
  does not contain any Machines</p>
}
else
{
  <h4>Machines this engineer is qualified to work on:</h4>
  <ul>

  @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>@join.Machine.Name </li>
    }
  </ul>
}
<p>@Html.ActionLink("Add a Machine this engineer is qualified to work on", "AddMachine", new { id = Model.EngineerId })
</p>
@Html.ActionLink("Home", "Index", "Home")
<br>
@Html.ActionLink("Add Machine to inventory", "Create", "Machines")
<br>
@Html.ActionLink("Add Engineer your list", "Create", "Engineers")






